@import "../base/variables";
@import "../utils/mixins";

.filters-mobile {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 14;
    box-shadow: 0 8px 40px rgb(0 0 0 / 32%);

    background-color: $color-text-white;
    border: 1px solid $color-text-white;
    overflow-y: scroll;

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    &__close {
        top: 8px;
        right: 8px;
    }
}


