@import "../base/variables";
@import "../utils/mixins";

.filters-mobile {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 14;
    box-shadow: 0 8px 40px rgb(0 0 0 / 32%);

    background-color: $color-text-white;
    border: 1px solid $color-text-white;
    overflow-y: scroll;

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    &__close {
        top: 8px;
        right: 8px;
    }

    &__input {
        @include font(16px, $color-header-link-active, 400, 19px, 0);
        border: none;

        &:checked + label {
            color: $color-hover-basket;

            &::before {
                content: url('data:image/svg+xml;charset=utf8,%3Csvg width= "15" height= "12" viewBox= "0 0 15 12" fill= "none" xmlns= "http://www.w3.org/2000/svg" %3E%3Cpath d= "M5.07291 9.87715L13.2745 0.875L14.3573 1.86148L5.14809 11.9696L0.127686 7.19706L1.13705 6.13539L5.07291 9.87715Z" fill= "white" /%3E%3C/svg%3E');
                background-color: $color-hover-basket;
                border-color: $color-hover-basket;
            }
        }
    }

    &__label {
        padding-left: 30px;
        @include font(16px, $color-header-link-active, 400, 30px, 0);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 5px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            border: 1px solid $color-bcg-form;
        }
    }
}
