@import '../base/variables';

.weapons__content {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.weapons__content .mCSB_container {
    display: flex;
}

.weapons__content .weapon-card {
    flex-shrink: 0;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    margin: 0 auto;
    width: 64%;
    height: 4px;
    background-color: #e7e4e4;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $color-scrollbar-dragger-container;
    margin: 0;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
   visibility: hidden;
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 38px;
    padding-top: 30px;
    padding-bottom: 30px;
}
