@import "../base/variables";
@import "../utils/mixins";

.weapons {
    overflow-x: hidden;
    padding: 10px 30px 70px;
}

.weapon-card {
    padding: 20px 20px 0;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    width: 435px;

    &:not(:last-child) {
        margin-right: 33px;
    }

    @media screen and (max-width: 575px) {
        width: 280px;
    }

    &__heading {
        margin-bottom: 8px;

        font-family: $fonts-Montserrat;
        @include font(16px, $color-weapon-card-heading, 400, 20px, 0);

        &:hover,
        &:active,
        &:focus {
            color: red;
        }
    }

    &__photo {
        margin-bottom: 12px;
    }

    &__rating {
        .reviews {
            margin-left: 10px;

            font-family: $fonts-Montserrat;
            @include font(13px, $color-weapon-card-reviews, 400, 16px, 0);
        }

        margin-bottom: 12px;
    }
}

.activity {
    &__label {
        left: 20px;
        top: -16px;
        padding: 7px 16px;
        border-radius: 30px;

        text-transform: uppercase;
        font-family: $fonts-Montserrat;
        @include font(13px, $color-text-white, 700, 16px, 0);
    }

    &__actions {
        top: 18px;
        right: 18px;
    }

    &__gift {
        top: 380px;
        left: 23px;
        margin-bottom: 16px;
    }
}

.prices {
    font-family: $fonts-Commissioner;

    &__old {
        @include font(13px, $color-weapon-card-reviews, 400, 16px, 0);

        & + div {
            @include font(20px, $color-new-price, 700, 24px, 0);
        }

        &:before {
            position: absolute;
            left: 30%;
            top: 50%;
            width: 60%;
            content: "";
            transform: translate(-50%, -50%);
            border-bottom: 2px solid $color-crash-old-price;
        }
    }

    &__new {
        @include font(20px, $color-static-price, 700, 24px, 0);
    }
}

.buy-button {
    padding: 12px 15px;

    font-family: $fonts-Commissioner;
    @include font(14px, $color-text-white, 400, 17px, 0);

    &__text {
        opacity: 0;
    }
}

.weapon-card {
    &:hover {
        background-color: $color-text-white;
        box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
        border: 1px solid #F1F1F1;
        box-sizing: border-box;

        & .buy-button {
            background-color: $color-bcg-buy-button;
            color: $color-text-white;
            border-radius: 3px;
        }

        & .buy-button__icon {
            margin-right: 10px;
            fill: #ffffff;
        }

        & .buy-button__text {
            opacity: 1;
            order: 1;
        }
    }
}


